/* Header */
header {
  min-height: 150px;
  height: 18%;
  background-color: #190933;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.banner {
	height: 100vh;
	overflow: hidden;
	position: absolute;
}

.bannertext {
	position: relative;
	height: 100%;
	text-align: center;
	color: white;
}

.alfieengland {
  position: relative;
	top: 50%;
	transform: translateY(-50%);
  max-width: 80vw;
}

/* Links Grid */
.links {
  text-align: center;
  margin-top: 24px;
  white-space: nowrap;
  margin-left: 20px;
  margin-right: 20px;
}

.links h3 {
  font-size: 130%;
  background-color: white;
  color: #190933;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
  font-weight: 300;
  outline: 1px solid #190933;
  /* 300 font weight and 1px outline looks better but not as easy to read */
}

.links a {
  padding-top: 1.4vh;
  padding-bottom: 1.4vh;
  display: block;
  transition: all 0.4s;
  color: #190933;
  text-decoration: none;
}

.links a:hover {
  box-shadow: inset 0 100px 0 0 #2b0f57;
  color: white;
}

/* Timetable */
.timetable {
  margin-top: 2vh;
  text-align: left;
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #190933;
  margin-left: 24px;
  margin-right: 24px;
  width: calc(100% - 48px);
  color: white;
}

.timetable th {
  font-weight: normal;
  padding: 6px 5px;
  overflow: hidden;
  word-break: normal;
}

.timetable td {
  padding: 6px 5px;
  overflow: hidden;
  word-break: normal;
  border-width: 1px;
  border-style: groove;
}

.row1, .row3, .row5 {
  background-color: #190933;
}

.row2, .row4 {
  background-color: #15082b;
}
