body {
  background-color: white;
}

header {
  height: 15%;
  min-height: 160px;
  background-color: #190933;
  text-align: center;
  -webkit-box-shadow: 0 10px 19px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0 10px 19px 0 rgba(50, 50, 50, 0.75);
  box-shadow:         0 10px 19px 0 rgba(50, 50, 50, 0.75);
}

header img {
  height: 100%;
}

.links {
  text-align: center;
  margin-top: 24px;
  white-space: nowrap;
}

.gridrow {
  margin-bottom: 8px;
}

.links h3 {
  font-size: 140%;
  background-color: #190933;
  color: white;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  font-weight: 300;
}

.links a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  transition: all 0.3s;
  color: #F7ECE1;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 19px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0 10px 19px 0 rgba(50, 50, 50, 0.75);
  box-shadow:         0 10px 19px 0 rgba(50, 50, 50, 0.75);
}

.links a:hover {
  background-color: #2b0f57;
  color: white;
}

.timetable {
  margin: 24px 4px 4px 4px;
}

.timetable p {
  margin-left: 2px;
  font-size: 94%;
}

.timetable {
  outline: 1px solid black;
}

.timetrow {
  box-shadow: 0 1px 0 #000;
}

.timetcol {
  box-shadow: 1px 0 0 #000;
}

/*.timetable p {
  margin-top: 2px;
}*/
