/* ungrid - the simplest responsive css grid http://chrisnager.github.io/ungrid */
@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}
